html {
    font-size:115%;
}
body {
    padding: 0%;
}
a{
    text-decoration:none;
}
.head {
    height: 5%;
}
.title {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(66, 54, 54);
}
.alert {
    color: rgba(124, 0, 0, 0.549);
    text-align: right;
    margin-top: 5%;
    margin-bottom: 3%;
}
.w60 {
    width: 60%;
    max-width: 1000px;
    min-width: 650px;
    margin: auto;
    min-height: 100px;
}
.item{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.053);
}
.time {
    margin-left: 50px;
    font-size: 2rem;
}
.link {
    margin-left: 150px;
    font-size: 2rem;
    color:rgb(44, 59, 72);
}
.aLink {
    font-size: 1.5rem;
    color:rgb(55,55,100)
}
.note {
    color: rgb(226, 21, 21);
}
